












<!-- //========================================================================================================================== -->

<!-- <div class="container-fluid">
  <div class="roe">
    <div class="col-md-12">
      <div class="form-group">
        <label> File Uploads</label>
        <input type="file" (change)="fileuploads($event)" multiple class="form-control" style="height: 100%; "
          accept="images/*">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="save()">Submit</button>
      </div>
    </div>
  </div>
  <h4>
    <p>Uploaded Files</p>
  </h4>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <th>Image</th>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor='let image of images | paginate:{itemsPerPage:10, currentPage:p}'>
        <td><img [src]='image.url' style="height: 30px;width: 30px; border-radius: 50%"></td>
        <td>{{image.name}}</td>
        <td>{{image.type}}</td>
        <td>{{image.size}}</td>
        <td><a href="javascript:void(0)" (click)="deleteImage(image)"><i class='fa fa-trash'></i></a></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" style="float:right"></pagination-controls>
</div> -->
